body {
    background-color: #000;
    color: #fff;
}
img {
    margin: auto;
}
img.mlogo {
    width: 400px;
}
img.rhlogo {
    display: inline;
    margin-bottom: 80px;
    width: 300px;
}
.footer {
    margin-top: 20px;
    display: block;
}